#history-container h2{
    text-align: center;
    padding: 30px;
}

.table td{
    border-top: none;
}

#trackingButton a{
    color:black;
    text-decoration: none;
    display:block;
}

#tracking, #label{
    text-align: center;
}

#boldName{
    font-weight:bold;
}


@media only screen and (max-width: 650px) {
    #history-container .box table{
        overflow-x: scroll;
        display: block;
        overflow-y: hidden;
    }
  }