.contact-list{
    display: inline;
}

#contact span{
    margin: 0.5%;
    display: block;
}

#contact hr{
    width: 70%;
    margin-top: 10px;
    display: block;
}

#contact table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }