#baner{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: darkcyan;
    padding:80px;
    color:white;
    margin-bottom: 0px;
    white-space: nowrap;
    border-radius: 0;
}

#baner #tracking{
    display:flex;
    flex-flow: row;
    
}

#baner #tracking input{
    height: auto;
    margin-right: 5px;
    min-width: 200px;
}


@media only screen and (max-width: 650px) {
    #baner{
        padding: 50px;
    }
  }

@media only screen and (max-width: 450px) {
    #baner{
        padding: 15px;
    }
  }