#header {
  background-color: lightblue;
  height: 60px;
  align-items: center;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.header-list li {
  display: inline-block;
  line-height: 60px;
}
.header-list li:hover {
  background-color: #bee9f7;
}
.header-list li > a,
.header-list li > a:link {
  text-decoration: none;
  color: black;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  #header {
    height: auto;
  }
  .header-list{
    display: block;
    width: 100%;
    padding-inline-start: 0px;
  }
  .header-list li {
    display: block;
    padding: 0;
  }
  .header-list li > a,
  .header-list li > a:link {
    display: block;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
}