#header {
  background-color: #333;
  height: 60px;
  align-items: center;
  color:white
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.header-list li {
  display: inline-block;
  line-height: 60px;
  cursor: pointer;
}
.header-list li:hover {
 background-color: #444;
 color:white;
}
.header-list li > a,.header-list li > a:link,.header-list li>a:hover,.header-list li>a:active,.header-list li>a:focus {
  text-decoration: none;
  color: white;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  #header {
    height: auto;
  }
  .header-list{
    display: block;
    width: 100%;
    padding-inline-start: 0px;
  }
  .header-list li {
    display: block;
    padding: 0;
  }
  .header-list li > a,
  .header-list li > a:link {
    display: block;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
}