.navbar {
  padding: 0px 10px;
}

.navbar .navbar-nav {
  float: none;
  vertical-align: top;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar .navbar-collapse {
  text-align: center;
  justify-content: center;
}

.navbar .navbar-nav .nav-item {
  line-height: 60px;
}

#header img {
  height: 50px;
  margin-top: 5px;
  float: left;
  margin-left: 10%;
}

#header img:hover {
  opacity: 0.7;
}
